# Arquivos de Sistema Operacional (Evita poluição do histórico de commits)
.DS_Store
Thumbs.db

# Arquivos de Ferramentas/Editores de Código (IDE-specific files)
.vscode/           # Diretório de configurações do VS Code
*.iml              # Arquivos de projeto do IntelliJ/Android Studio
*.sublime-project
*.sublime-workspace

# Diretórios e Arquivos de Build/Cache (Caso haja pré-processadores)
# Exclui pacotes baixados (se for usar NPM/Yarn no futuro)
/node_modules

# Arquivos Gerados/Temporários
# Arquivos que surgem durante testes ou pré-processamento de CSS
*.sass-cache
*.log
*.tmp
/dist/             # Exclui o diretório de produção/distribuição (se o houver)
